# ===============================
# Dependencias
# ===============================
node_modules/

# ===============================
# Builds / Dist
# ===============================
dist/
dist-ssr/
build/

# ===============================
# Vite
# ===============================
.vite/
.vitepress/dist/

# ===============================
# Vue CLI
# ===============================
.cache/
.vuepress/dist/

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# ===============================
# Entorno
# ===============================
.env
.env.*
!.env.example

# ===============================
# IDEs / Editores
# ===============================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ===============================
# Sistema Operativo
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Testing
# ===============================
coverage/
cypress/screenshots/
cypress/videos/

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# Misc
# ===============================
*.local
